---
layout: default_style
permalink: /blog
published: true
---

<!-- Main Container -->
<div id="banners"></div>
<div class="container">
  {% for post in site.posts %}
  {% if post.type contains 'post' %}
    <div class="blog-post wow animated zoomIn">
      <h1 class="blog-title">
        <i class="fa fa-file-text"></i>
        {{ post.title }}
      </h1>
      <br>

      {%- assign urlorg = post.picture -%}
      {% unless urlorg contains "http" %}
        {%- assign urlorg = "assets/img/" | append: urlorg -%}
      {% else %}
        {%- assign urlorg = urlorg -%}
      {% endunless %}
      <img src="{{urlorg}}" alt="Feature-img" width="100%" class="blog-image">
      <br>
      <p>{{ post.description }}<a href="{{ post.url }}">  Read More...</a></p>
      <span class="badge">{{ post.date | date: '%B %d, %Y' }}</span>
      <div class="pull-right">
        {%- assign classlist = post.labelclasses -%}
          {%- for keyword in post.keywords -%}
          {%- assign val = forloop.index  | modulo: 6 -%}
            <span class="label {{classlist[val]}}">{{ keyword }}</span>
          {%- endfor -%}
      </div>
    </div>
    <hr>
  {% endif %}
  {% endfor %}
</div>
<!--End Main Container -->
