<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> Contact:</h3>
        <p class="footer-contact">
          {%assign mailto ="mailto:" |append:site.company_email%}
          <i class="fa-sm fa fa-envelope"></i>
          <a href="{{mailto}}">{{ site.company_email }}</a> <br>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          {{ site.address_line }}<br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> Links</h3>
        <p><a href="/about"> About ( Who we are )</a></p>
        <p><a href="/blog"> Events ( Our activities )</a></p>
        <p><a href="/projects"> Projects ( Our Fellows' Projects )</a></p>
        <p><a href="/team"> Team ( Meet the Team )</a></p>
        <p><a href="/contact"> Contact ( Feel free to contact )</a></p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-heart"></i> Socialize</h3>
        <div id="social-icons">
          {% if site.insta_link %}
            <a href="{{ site.insta_link }}" class="btn-group google-plus">
              <i class="fa fa-instagram"></i>
             </a>
          {% endif %}

          {% if site.linkedin_link %}
            <a href="{{ site.linkedin_link }}" class="btn-group linkedin">
              <i class="fa fa-linkedin-square"></i>
            </a>
          {% endif %}

          {% if site.tiktok_link %}
            <a href="{{ site.tiktok_link }}" class="btn-group twitter">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16"> <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z"/> </svg>
            </a>
          {% endif %}

          {% if site.facebook_link %}
            <a href="{{ site.facebook_link }}" class="btn-group facebook">
              <i class="fa fa-facebook"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, {{site.company_name}}. <br>Website created by: <a href="https://www.linkedin.com/in/priyanka-panta-8451b4251/" target="_blank">Priyanka Panta</a> & <a href="https://www.linkedin.com/in/swikar-jaiswal-278b31197/" target="_blank">Swikar Jaiswal</a></p>
    <!-- <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="#">Your Website Link</a>. <br>Theme ported by <a href="https://melvinchng.github.io/" target="_blank">Melvin Ch'ng</a></p> -->
  </div>
</footer>
