<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper">
      <div class="container-fluid-kamn">
        <div class="row">
          <div id="carousel-1" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators visible-lg">
              {%- for image in site.static_files -%}
                {%- if image.name contains 'cslide' -%}
                  <!--  -->
                  {%- if image.name contains '0' and image.name contains 'cslide' -%}
                    <li data-target="#carousel-1" data-slide-to="{%- increment cslidecount -%}" class="active"></li>
                    {%- continue -%}
                  {%- endif -%}
                  <li data-target="#carousel-1" data-slide-to="{%- increment cslidecount -%}"></li>
                {%- endif -%}

              {%- endfor -%}
              <!-- <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-1" data-slide-to="1"></li>
              <li data-target="#carousel-1" data-slide-to="2"></li> -->
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              {% for image in site.static_files %}
                {% if image.name contains 'cslide' %}
                  <!-- Begin Slide {{forloop.index}} -->
                  <div {% if image.name contains "0" %}class="item active"{% else %}class="item"{%endif%}>
                    <img src="{{ site.baseurl }}{{ image.path }}" style="height:400px;width:100%;object-position:center;object-fit: cover;" alt="Image of {{forloop.index}} carousel">
                    <div class="carousel-caption">
                      <h3 class="carousel-title hidden-xs">_</h3>
                      <p class="carousel-body">_</p>
                    </div>
                  </div>
                  <!-- End Slide {{forloop.index}} -->

                {% endif %}

              {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-1" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-1" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- End #carousel-section -->


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
      <div class="container">
        <div class="row">
          <div class="services-header">
            <a href="/infinity23">
              <br>
              <img src="/assets/img/slider/EventBanner.jpg" style="height: 300px;width: 100%;object-fit: cover;object-position: center;" alt="INFINITY Banner">
            </a>

            <hr>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="services-header">
            <h3 class="services-header-title"></h3>
            <p class="services-header-body">
              <em class="club-text">
                "Kathmandu University Computational Mathematics Club shortly known as KUCMC is Departmental Club which fully and faithfully runs academic activities for smooth growth of it's members. The club was established back in 2018 as youngest Department club of Kathmandu University registered under Student Welfare Council."
              </em>
            </p><hr>
          </div>
        </div>
        <!-- {% for tests in site.posts %}
          {%- if tests.type=="testimonial" -%}/img/
            {{tests.type}}
          {%- endif -%}
        {% endfor %} -->
        <p style="display: none;">{%- increment tilecount -%}</p>
        <div class="row services-row services-row-head services-row-1 centerflipcards">
          {%- for post in site.posts -%}
            {%- if post.type=="testimonial" and tilecount<=2 -%}
            <p style="display: none;">{%- increment tilecount -%}</p>
              <div class="square-flip services-group wow animated zoomIn col-lg-4 col-md-4 col-sm-4 col-xs-12" style="background:none;" data-wow-offset="40">
                <div class='square Square' data-image="/assets/img/{{ post.picture }}">
                  <div class="square-container">

                    <h2 class="textshadow">{{post.description}} </h2>
                    <h3 class="textshadow">{{post.author}}</h3>
                  </div>
                  <div class="flip-overlay"></div>
                </div>
                <div class='square2' data-image="/assets/img/{{ post.picture }}">
                  <div class="square-container2">
                    <div class="align-center"></div>
                    <div class="align-center">
                      <a href={{post.url}} target="_self"><img src="/assets/img/{{ post.picture }}" class="boxshadow" alt=""></a>
                    </div>
                    <a href={{post.url}} target="_blank" class="boxshadow kallyas-button">View More</a>
                  </div>
                  <div class="flip-overlay"></div>
                </div>
              </div>
              {% break %}
            {%- endif -%}
          {%- endfor -%}
          {%- for post in site.posts -%}
            {%- if post.type=="project" and tilecount<=3 -%}
            <p style="display: none;">{%- increment tilecount -%}</p>
              <div class="square-flip services-group wow animated zoomIn col-lg-4 col-md-4 col-sm-4 col-xs-12" style="background:none;" data-wow-offset="40">
                {%- comment -%}

                  {%- if post.author=="FB" -%}
                    {%- assign imgUrl = post.picture -%}
                  {%- else -%}
                    {%- assign imgUrl = "/assets/img/" | append: post.picture -%}
                  {%- endif -%}
                {%- endcomment -%}

                {%- assign imgUrl = "/assets/img/" | append: post.picture -%}

                <div class='square Square darken-background' data-image="/assets/img/{{ post.picture }}">
                  <div class="square-container">

                    <h2 class="textshadow">{{post.title}} </h2>
                    <h3 class="textshadow">{{post.author}}</h3>
                  </div>
                  <div class="flip-overlay"></div>
                </div>
                <div class='square2' data-image="{{ imgUrl }}">
                  <div class="square-container2">
                    <div class="align-center"></div>
                    <div class="align-center">
                      <a href={{post.url}} target="_self" ><img src="{{ imgUrl }}" class="boxshadow" alt=""></a>
                    </div>
                    <a href={{post.url}} target="_blank"  class="boxshadow kallyas-button">View More</a>
                  </div>
                  <div class="flip-overlay"></div>
                </div>
              </div>
              {%continue %}
            {%- endif -%}
          {%- endfor -%}

          {%- for post in site.posts -%}

            {%- if post.type=="post" and tilecount<=6-%}
              {%- if post.author=="FB" -%}
                {%- assign imgUrl = post.picture -%}
              {%- else -%}
                {%- assign imgUrl = "/assets/img/" | append: post.picture -%}
              {%- endif -%}

              {%- assign imgUrl = "/assets/img/" | append: post.picture -%}

             <p style="display: none;">{%- increment tilecount -%}</p>
              <div class="square-flip services-group wow animated zoomIn col-lg-4 col-md-4 col-sm-4 col-xs-12" style="background:none;" data-wow-offset="40">
                <div class='square Square darken-background'  data-image="{{ imgUrl }}">
                  <div class="square-container">

                    <h2 class="textshadow">{{post.title}} </h2>
                    <h3 class="textshadow" style="-webkit-line-clamp: 3;-webkit-box-orient: vertical;display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;">{{post.description}}</h3>
                  </div>
                  <div class="flip-overlay"></div>
                </div>
                <div class='square2' data-image="{{ imgUrl }}">
                  <div class="square-container2">
                    <div class="align-center"></div>
                    <div class="align-center">
                      <a href={{post.url}} target="_self" ><img src="{{ imgUrl }}" class="boxshadow" alt=""></a>
                    </div>
                    <a href={{post.url}} target="_blank" class="boxshadow kallyas-button">View More</a>
                  </div>
                  <div class="flip-overlay"></div>
                </div>
              </div>

            {%- endif -%}
          {%- endfor -%}

        </div>


      </div>
    </section>
    <!-- End #services-section -->

  </body>

  {% include footer.html %}
</html>
