
<!doctype html>
<html lang="en">
  <head>
    <!-- meta data & title -->
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="">

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../../../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../../../assets/ico/apple-touch-icon-57-precomposed.png">

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/css/animate.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/3dtiles.css">
    <script type="text/javascript" src="../../../js/jquery-1.10.2.min.js"></script>
    <script src="../../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../../js/wow.min.js"></script>
    <script src="../../../js/3dtiles.js"></script>
    <script>
    new WOW().init();
    </script>
  </head>
  <body>
    <nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
        <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand wow fadeInDownBig" href="../../../index.html"><img class="office-logo" src="../../../assets/img/slider/KUCMC_logo.png" alt="Office"></a>
        </div>

        <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav pull-right">
            <li class="active">
              <a href="/">Home</a>
            </li>
            <li>
              <a href="../../../about.html">About</a>
            </li>
            <li>
              <a href="../../../blog.html">Events</a>
            </li>
            <li>
              <a href="../../../team.html">Team</a>
            </li>
            <li>
              <a href="../../../contact.html"><span>Contact</span></a>
            </li>
          </ul>
        </div>
        </div>
    </nav>
    {% assign post = page %}
    <div class="blog-post" style="margin:5%;">
        <h1 class="blog-title">
          <i class="fa fa-file-text"></i>
          {{ post.title }}
        </h1>
        <br>

        <img src="/assets/img/{{ post.picture }}" alt="Feature-img" width="100%" class="blog-image">
        <br>
        <p>{{ content }}</p>
        <span class="badge">{{ post.date | date: '%B %d, %Y' }}</span>
        <!-- label classes: label-default,label-primary,label-success,label-info,label-warning,label-danger    -->
        <div class="pull-right">
          {%- assign classlist = post.labelclasses -%}
          {%- for keyword in post.keywords -%}
          {%- assign val = forloop.index  | modulo: 6 -%}
            <span class="label {{classlist[val]}}">{{ keyword }}</span>
          {%- endfor -%}
        </div>
      </div>

      <!-- Footer -->
      {% include footer.html %}
  </body>



</html>


